{% extends 'frontY.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <h1>Service index</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>TitreService</th>
                <th>TypeService</th>
                <th>DescriptionService</th>
                <th>LieuService</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 0 %}
        {% for service in services %}
            <tr>
                
                <td>{{ service.titreService }}</td>
                <td>{{ service.typeService }}</td>
                <td>{{ service.descriptionService }}</td>
                <td>{{ service.lieuService }}</td>
                
                <td style="width:10px"><img src="{{ qrcodes[i]['simple']|raw }}" > </td>
               
                <td>
                    <a href="{{ path('app_service_show', {'id': service.id}) }}">show</a>
                    <a href="{{ path('app_service_edit', {'id': service.id}) }}">edit</a>
                </td>
            </tr>
            {% set i = i + 1 %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_service_new') }}">Create new</a>
{% endblock %}
