{% extends "Admin/index.html.twig" %}

{% block header %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="class="text-primary"">
					<h1>
						inscrire</h1>
					<nav class="text-primary">
						<a href="index.html">welcome</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
{% endblock %}
{% block body %}

	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="form-floating mb-3" style="margin: 0 auto; width: 50%;">
					<div class="form-floating mb-3">
						
						<img src="{{ asset('img/login.png') }}" alt="">
						<div class="text-center" <h1>> Inscription</h1>
						</div>
						</div>
						{{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}

						<div class="form-floating mb-3">
							<div>
								{{form_label(registrationForm.nom, 'nom')}}
								{{form_widget(registrationForm.nom,{
								'attr' :{
									'class' : 'form-control',
									'placeholder':'nom'
								},
							})}}
								{{form_errors(registrationForm.nom)}}
							</div>
						</div>
						<div class="col-12">
							<div>
								{{form_label(registrationForm.prenom, 'prenom')}}
								{{form_widget(registrationForm.prenom,{
								'attr' :{
									'class' : 'form-control',
									'placeholder':'prenom'
								}
									
							
							})}}
								{{form_errors(registrationForm.prenom,{'attr' :{'class' : 'text-danger'}})}}
							</div>
						</div>

						<div class="col-12">
							<div>
								{{form_label(registrationForm.email, 'email')}}
								{{form_widget(registrationForm.email,{
								'attr' :{
									'class' : 'form-control',
									'placeholder':'email'
								},
							})}}
								{{form_errors(registrationForm.email)}}
							</div>
						</div>
						<div class="col-12">
							<div>
								{{form_label(registrationForm.num_tel, 'telephone')}}
								{{form_widget(registrationForm.num_tel,{
								'attr' :{
									'class' : 'form-control',
									'placeholder':'telephone'
								},
							})}}
								{{form_errors(registrationForm.num_tel)}}
							</div>
						</div>
						<div class="col-12">
							<div>
								{{form_label(registrationForm.adresse, 'adresse')}}
								{{form_widget(registrationForm.adresse,{
								'attr' :{
									'class' : 'form-control',
									'placeholder':'adresse'
								},
							})}}
								{{form_errors(registrationForm.adresse)}}
							</div>
						</div>
						<div class="col-12">
							{{form_label(registrationForm.password, 'password')}}

							{{form_widget(registrationForm.password,{
								'attr' :{
									'class' : 'form-control',
									'placeholder':'password'
								},
							})}}
							{{form_errors(registrationForm.password)}}

						</div>
						<div class="col-12">
							{{form_label(registrationForm.confirmPassword, 'confirmPassword')}}
							{{form_widget(registrationForm.confirmPassword,{
								'attr' :{
									'class' : 'form-control',
									'placeholder':'confirmpassword'
								},
							})}}
							{{form_errors(registrationForm.confirmPassword)}}

						</div>
						<div class="col-12">
							{{form_label(registrationForm.rolle, 'rolle')}}
							{{form_widget(registrationForm.rolle,{
								'attr' :{
									'class' : 'form-control'
								},
							})}}
							{{form_errors(registrationForm.rolle)}}

						</div>
						<div class="col-12">
							{{ form_row(registrationForm.agreeTerms) }}
						</div>
						<div class="text-center">
							<br>
							<button type="submit" class="btn btn-primary">inscrire</button>

						</div>
						{{ form_end(registrationForm) }}
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}
