<img src=""  style=" width:100px; height:100px;"alt="Description de votre image">
{% block title %} <style=" width:10px; height:100px;"><h1>LISTES DES EVENEMENTS</h1>{% endblock %}

{% block body %}
<div>
<table  border="1">
        <thead >
        
            <tr>
                <th>IdEvent</th>
                <th>ImageEvent</th>
                <th>NomEvent</th>
                <th>TypeEvent</th>
                <th>Date</th>
                <th>DescriptionEvent</th>
                <th>NbParticipants</th>
            </tr> 
        </thead>
            <tbody>
                        
            
                 {% for evenement in evenements %}
            <tr>
            
                <td>    {{ evenement.idEvent }}</td>
                <td><img src="{{ asset('uploads/' ~evenement.imageEvent) }}" style=" width:150px; height:150px; " alt=""/></td>
                <td>    {{ evenement.nomEvent }}</td>
                <td>    {{ evenement.typeEvent }}</td>
                <td>    {{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
                <td>    {{ evenement.descriptionEvent }}</td>
                <td>    {{ evenement.nbParticipants }}</td>
                </tr>
                        {% endfor %}
             </tbody>
</table>
</div>
{% endblock %}