{% extends 'Admin/index.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<h1>User</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ user.id }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>


				<th>Role</th>
				{% for role in user.getRoles() %}
					<td>{{ role }}</td>
				{% endfor %}
			</tr>

			<tr>
				<th>Is Banned</th>
				<td>{{ user.isBanned? 'banned' : 'No Banned'}}</td>
			</tr>

			<tr>
				<th>Is verified</th>
				<td>{{ user.isVerified ? 'verifie' : 'No verifie'}}</td>
			</tr>
			<tr>
				<th>adresse</th>
				<td>{{ user.adresse}}</td>
			</tr>
			<tr>
				<th>num</th>
				<td>{{ user.getNumTel() }}</td>
			</tr>
			{# <tr>
																											                <th>Naissance</th>
																											                <td>{{ user.naissance ? user.naissance|date('Y-m-d') : '' }}</td>
																											            </tr> #}
		</tbody>
	</table>

	{# <a href="{{ path('app_user_index') }}">back to list</a>
									
									    <a href="{{ path('app_user_', {'id': user.id}) }}">edit</a>
									
									    {{ include('user/_delete_form.html.twig') }} #}

						
{% endblock %}
