{% extends 'Admin/index.html.twig' %}

{% block body %}
Bienvenue {{ app.session.get('user')}}
	<div class="container-xxl flex-grow-1 container-p-y">
		<div class="search-bar">
				<form action=# method="get" class="search-form d-flex align-items-center" >
					<input type="text" name="query" placeholder="Search" title="Enter search keyword">
					<button type="submit" title="Search">
						<i class="bi bi-search"></i>
					</button>
				</form>
			</div>

		<h4 class="fw-bold py-3 mb-4">
			<span class="text-muted fw-light">Dashboard /</span>
			Users
		</h4>

		<!-- Basic Bootstrap Table -->
		<div class="card">
			<h5 class="card-header">Liste des utilisateurs</h5>
			<div class="table table-dark">
				<table class="table table-dark">
					<thead>
						<tr>
							<th>Informations</th>
							<th>email et mot de passe</th>

							<th>is_verifie</th>
							<th>banned</th>
							<th>Role</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody class="table-border-bottom-0">
						{% for user in users %}

							<tr>
								<td>

									<strong>{{ user.prenom~" "~user.nom }}</strong>

								</td>
								<td>
									<div>{{ user.email }}</div>


								</td>


								<td>
									<div class="form-check form-switch">

										<input class="form-check-input" type="checkbox" id="verified" data-my-data="{{user.id |json_encode|raw}}" {{ user.isVerified ? 'checked' }}>
										<label class="form-check-label" for="flexSwitchCheckChecked">{{ user.isVerified ? 'verifie' : 'No verifie'}}</label>
									</div>

								</td>

								<td>
									<div class="form-check form-switch">

										<input class="form-check-input" type="checkbox" id="banned" {{ user.isBanned? 'checked' }} data-my-data="{{user.id |json_encode}}">
										<label class="form-check-label" for="flexSwitchCheckChecked">{{ user.isBanned? 'banned' : 'No Banned'}}</label>
									</div>
								</td>
								<td>

									{% for role in user.getRoles() %}
										<div>{{ role }}</div>
									{% endfor %}
								</td>

								<td>
									<a href="{{ path('app_user_afficher', {'id': user.id}) }}" class="nk-btn nk-btn-rounded nk-btn-color-white">
										<span>Show</span>
										<span class="icon">
											<i class="bx bx-edit-alt me-1"></i>
										</span>
									</a>
									<a class="btn " href="{{ path('app_users_update',{'id':user.id}) }}">
										<i class="bx bx-edit-alt me-1"></i>
										update</a>
									{# <a class="btn" href="{{ path('app_users_delete',{'id':user.id}) }}">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							<i class="bx bx-trash me-1"></i>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							Delete</a> #}
									{# <button onclick="deleteUser({{ user.id }})" class="dropdown-item">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							<i class="bx bx-trash me-1"></i>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							Delete</td> #}
								</td>
							</tr>
						</tbody>
					</tbody>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{{knp_pagination_render(users)}}
</div></div></div>{% endblock %}{% block scriptjs %}<script>var checkbox = document.getElementById('flexSwitchCheckChecked');


var checkbox = document.getElementById('verified');
checkbox.addEventListener('change', function () {

console.log("tttttttttt", checkbox);
const myDataElement = document.querySelector("#verified");
const myDataString = myDataElement.getAttribute("data-my-data");
const myData = JSON.parse(myDataString);
console.log("pppppppp", myData);

});</script>{% endblock %}
