{% extends 'back.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
<input type="search" id="myInput" class="form-control pl-6" placeholder="Search "/>
					
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
					<script>
						$(document).ready(function () {
                        $("#myInput").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#rs tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            });
                         })
                        });
					</script>


    <h2     style="left=600px;"> Liste des Livreurs</h2>
    <script>
$(document).ready(function(){
  $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

 <div id="affichage" class="container-fluid pt-4 px-4">
    <table class="table" id="rs" > 
        <thead>
            <tr>
                <th>id</th>
                <th>Num</th>
                <th>NomLiv</th>
                <th>PrenomLiv</th>
                <th>Localisation</th>
                <th>actions</th>
            </tr>
        </thead>

        <br>
        <tbody id="myTable">
        <div class="form-group col-md-7">
        <div class="input-group custom-search-form">
        <div class="search-box">
    <input type="text" name="search" id="search" class="form-control" placeholder="Type to Search livreur...">
    </div>
  </div>    
</div>
        {% for livreur in livreurs %}
            <tr>
                <td>{{ livreur.id }}</td>
                <td>{{ livreur.num }}</td>
                <td>{{ livreur.nomLiv }}</td>
                <td>{{ livreur.prenomLiv }}</td>
                <td>{{ livreur.localisation }}</td>
                <td>
                    <a href="{{ path('app_livreur_show', {'id': livreur.id}) }}"class="btn btn-square btn-secondary m-2"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="{{ path('app_livreur_edit', {'id': livreur.id}) }}"class="btn btn-info rounded-pill m-2" ><i class="fas fa-edit"></i></a>
                    <a href="{{ path('app_Livreur_map', {'id': livreur.id}) }}" class="btn btn-info rounded-pill m-2" ><i class="fas fa-location-arrow"></i></a>
                    <td><a href="{{ path('app_qr_codes', {'id': livreur.nomLiv}) }}">qr code</a></td>
          
                </td>
</div>
 
            </tr>
            
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>



            <button style="print"   class="btn btn-primary px-3 py-1" onclick="PrintElem('affichage');">PRINT</button>
<br>
<br>


    <a href="{{ path('app_livreur_new') }}">Create new</a>
{% endblock %}